.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  /* .header-animation {
    animation: App-logo-spin infinite 20s linear;
  } */
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.product {
  /* background-color: aquamarine; */
  margin: 10px;
  border: 1px solid red;
  border-radius: 2px;
}
.button {
  border: 0.00001px solid transparent;
  border-radius: 0.3rem;
  cursor: pointer;
  color: #ffffff;
  font: 300 16px Segoe UI;
  letter-spacing: 0.01rem;
  line-height: 1;
  padding: 10px 30px;
  background: linear-gradient(104.08deg, #5a4cce 13.11%, #2b7efb 123.2%);
  width: 200px;
  height: auto;
  margin: 5px;
}
.input {
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 9px;
  font: 300 16px Segoe UI;
  color: #9b9b9b;
  margin: 15px;
  height: 15px;
}
